[submodule "ThirdParty/googletest"]
	path = ThirdParty/googletest
	url = https://github.com/google/googletest.git
[submodule "ThirdParty/jsoncpp"]
	path = ThirdParty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
[submodule "ThirdParty/libyuv"]
	path = ThirdParty/libyuv
	url = https://chromium.googlesource.com/libyuv/libyuv
[submodule "ThirdParty/libvpx"]
	path = ThirdParty/libvpx
	url = https://github.com/webmproject/libvpx.git
